{% load humanize %}
{% if claims %}
  <table class="table table-striped">
    <thead>
      <tr>
        {% if show_status %}<th>Status</th>{% endif %}
        <th>Last changed</th>
        <th>From</th>
        <th>To</th>
        <th>Planned departure</th>
        <th>Reported delay</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      {% for claim in claims %}
      <tr>
        {% if show_status %}<td>{{ claim.get_state_display }}</td>{% endif %}
        <td><a href="{% url 'claims.admin.manage' pk=claim.id %}">{{ claim.updated_at|naturaltime }}</a></td>
        <td>{{ claim.travelling_from }}</td>
        <td>{{ claim.travelling_to }}</td>
        <td>{{ claim.journey_date }}<br>{{ claim.journey_departure_time }}</td>
        <td>{{ claim.get_minutes_delayed_display }}</td>
        <td>{{ claim.your_name|default:'-' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}

<p><em>No claims.</em></p>

{% endif %}
