{% extends 'refundmytrain/base.html' %}

{% block content %}

<div class="container">
  <h1>Journey</h1>

  <p class="lead">
  <a href="{% url 'claims.admin.manage' pk=claim.id %}">&lt; Back</a>
  </p>

  <a href="{% url 'claims.admin.email-train-company' pk=claim.id %}">Email train company</a>

  <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      {% for field in form %}
        {% include 'claims/partials/automatic_field.html' with field=field %}
      {% endfor %}
      <input type="submit" value="Save" />
  </form>
</div>
{% endblock %}
