{% extends 'refundmytrain/base.html' %}

{% block content %}

<div class="container">
  <h1>Email {{ claim.operator_name }}</h1>
  <a href="{% url 'claims.admin.manage' pk=claim.id %}">&lt; Back</a>

  <form class="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
      {% include 'claims/partials/automatic_field.html' with field=field %}
    {% endfor %}

    <div class=text-right>
      <input class="btn btn-primary" type="submit" value="Send Email" />
    </div>

  </form>


</div>
{% endblock %}
