{% extends 'refundmytrain/base.html' %}

{% block content %}


<div class="container">
  <p>
    <a href="{% url 'admin:claims_claim_changelist' %}">View in Django Admin</a>
  </p>

  <h1>Waiting to be sent</h1>
  <p>
    These claims have been completed by the user and are waiting for us to
    review and send them to the train operating company.
  <p>
  {% include 'claims/admin/claims_table_partial.html' with claims=claims_waiting %}

  <h1>In progress</h1>
  <p>
    These claims have not yet been completed by the user.
  <p>
  {% include 'claims/admin/claims_table_partial.html' with claims=claims_incomplete %}

  <h1>All claims</h1>
  {% include 'claims/admin/claims_table_partial.html' with claims=claims_all show_status=True %}


</div>
{% endblock %}
