{% extends 'claims/status.html' %}

{% block jumbotron_outer %}
{% endblock %}

{% block before_claim %}
  <p class="lead">
  <a href="{% url 'claims.admin.list' %}">&lt; Back to list</a>
  <br>
  <a href="{% url 'claims.admin.edit' pk=claim.id %}">Edit claim</a>
  </p>

  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td>{{ claim.created_at }}</td>
        <td>Claim started.</td>
      </tr>

      <tr>
        <td>{{ claim.submitted_by_user_at }}</td>
        <td>Claim submitted by user.</td>
      </tr>

      {% if claim.submitted_to_operator_at %}
        <tr>
          <td>{{ claim.submitted_to_operator_at }}</td>
          <td>Claim submitted to train operating company</td>
        </tr>
      {% elif claim.can_submit_to_operator_by_email %}
        <tr>
          <td></td>
          <td>
            <a href="{% url "claims.admin.submit-to-train-company-by-email" pk=claim.id %}">
              Submit claim to {{ claim.operator_name }}
            </a>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <table class="table">
    <tbody>
      <tr>
        <td>Train Company</td>
        <td>{{ claim.operator_name }}</td>
      </tr>
      <tr>
        <td>Train Company</td>
        <td>{{ claim.operator_email }}</td>
      </tr>
    </tbody>
  </table>




{% endblock %}


{% block journey_header %}<h2>Journey</h2>{% endblock %}
{% block delay_header %}<h2>Delay</h2>{% endblock %}
{% block your_details_header %}<h2>User details</h2> {% endblock %}


{% block after_claim_details %}
{% endblock %}
