{% extends 'refundmytrain/base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="container">

  {% block before_form %}
    <div class="jumbotron">
    {% block jumbotron_inner %}
    {% endblock %}
    </div>
  {% endblock %}

  <form class="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {% block form_inner %}
      {% for field in form %}
        {% include 'claims/partials/automatic_field.html' with field=field %}
      {% endfor %}
    {% endblock %}

    {% block after_fields %}
    {% endblock %}

    <div class=text-right>
      <input class="btn btn-primary" type="submit" value="Continue" />
    </div>
  </form>

  {% block after_form %}
  {% endblock %}


</div>
{% endblock %}

