{% extends 'refundmytrain/base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="container">

  <h1>Claim a Refund</h1>

  <ul>
    <li class="extra-padding">
      <b>You need your ticket.</b> Ask a guard to let you through the barrier.
    </li>

    <li class="extra-padding">
      You can claim for compensation if you arrived more than <b>30 minutes</b>
      late at your destination.
    </li>

    <li class="extra-padding">
      You can only claim from <b>Transpennine Express</b> (for now!)
    </li>

  </ul>


  <form class="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}

      {% for field in form %}
      {{ field }}
      {% endfor %}

      {{ form.errors }}

      <div class=text-right>
        <input class="btn btn-primary" type="submit" value="OK, let's begin" />
      </div>
  </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
