{% extends 'claims/create_claim_base.html' %}

{% block title_inner %}What happened?{% endblock %}

{% block jumbotron_inner %}
  <h1>How late did you arrive at {{ claim.travelling_to }}?</h1>
  <p>
    What counts is how late you arrived at your <b>final destination</b>, even
    if that was caused by a previous connection.
  </p>
{% endblock %}

{% block form_inner %}

{% include "claims/partials/radio_field.html" with field=form.minutes_delayed show_blank=False hide_label=True override_labels=override_radio_labels.minutes_delayed only %}
{% include "claims/partials/radio_field.html" with field=form.delay_type show_blank=False label="What best describes the delay?" only %}
{% include "claims/partials/automatic_field.html" with field=form.extra_information %}

{% endblock %}
