{% extends 'refundmytrain/base.html' %}

{% block content %}

<div class="container">

  <h1>Select operating company</h1>

  <div class="row">

    {% for operating_company in operatingcompany_list %}
    <div class="col-sm-6 col-md-4">
      <a href="{% url 'create-claim-start-page' %}?operating_company={{ operating_company.slug }}" class="thumbnail">
        <img src="{{ operating_company.logo.thumbnail.300x300 }}" alt="...">
        <div class="caption">
          <h3>{{ operating_company.name }}</h3>
        </div>
      </a>
    </div>
  {% endfor %}


  </div>


</div>
{% endblock %}
