{% extends 'claims/status.html' %}

{% block jumbotron_inner %}
  <h1>Almost done…</h1>
  <p>Please double check the information you've given us.</p>
{% endblock %}

{% block journey_header %}
  <h2>Your journey <span class="small">
    <a class="nostyle" href="{% url 'create-claim-journey' pk=claim.id %}">change</a></span>
  </h2>
{% endblock %}

{% block delay_header %}
  <h2>Delay <span class="small">
    <a class="nostyle" href="{% url 'create-claim-what-happened' pk=claim.id %}">change</a></span>
  </h2>
{% endblock %}

{% block your_details_header %}
  <h2>Your details <span class="small">
    <a class="nostyle" href="{% url 'create-claim-your-details' pk=claim.id %}">change</a></span>
  </h2>
{% endblock %}


{% block after_claim_details %}

  <form class="form" action="" method="post">{% csrf_token %}

    {% for field in form %}
    <div class="checkbox">
      <label>
        {{ field }}
        {{ field.label }}
      </label>
      {% include "claims/partials/field_errors.html" with field=field %}
    </div>
    {% endfor %}

    <p>
      We'll send a copy of this page to {{ claim.your_email }}.
    </p>

    <div class="text-right">
        <input type="submit" class="btn btn-primary" value="I Agree, Send It!"></input>
    </div>
  </form>
{% endblock %}
