{% extends 'refundmytrain/base.html' %}

{% block nav %}{% endblock %}

{% block content %}

<div class="container confirm-claim">

    {% block before_claim %}{% endblock %}

    {% block jumbotron_outer %}
    <div class="jumbotron">
      {% block jumbotron_inner %}
        <h1>All done</h1>
        <p>{{ claim.get_state_display }}</p>
      {% endblock %}
    </div>
    {% endblock %}

    {% block journey_header %}<h2>Your journey</h2>{% endblock %}

    <table class="table">
      <tbody>
        <tr>
          <td>Travelling from</td>
          <td>{{ claim.travelling_from }}</td>
        </tr>

        <tr>
          <td>Travelling to</td>
          <td>{{ claim.travelling_to }}</td>
        </tr>

        <tr>
          <td>Departing</td>
          <td>{{ claim.journey_date|date:"l jS F Y" }}<br>
              at {{ claim.journey_departure_time|time:"H:i" }}</td>
        </tr>

        <tr>
          <td>Ticket</td>
          <td>{{ claim.get_ticket_type_display }}</td>
        </tr>

        <tr>
          <td>Ticket face value</td>
          <td>£{{ claim.ticket_face_value }}</td>
        </tr>
      </tbody>
    </table>

    {% if claim.scanned_ticket %}
    <div class="thumbnail">
        <img src="{{ claim.scanned_ticket.thumbnail.300x300 }}">
    </div>
    {% else %}
    No scanned tickets.
    {% endif %}
    </a>

    {% block delay_header %}<h2>Delay</h2>{% endblock %}

    <p>
    You arrived late at {{ claim.travelling_to }} by: <em>{{ claim.get_minutes_delayed_display }}</em>.
    </p>

    <p>
    {{ claim.get_delay_type_display }}
    </p>

    {% if claim.extra_information %}
      <p>
      In your own words,
      </p>

      <blockquote>
        <p>
        {{ claim.extra_information }}
        </p>
      </blockquote>
    {% endif %}

    {% block your_details_header %}<h2>Your details</h2>{% endblock %}

    <table class="table">
      <tbody>
        <tr>
          <td>Your full name</td>
          <td>{{ claim.your_name }}</td>
        </tr>

        <tr>
          <td>Your email</td>
          <td>{{ claim.your_email }}</td>
        </tr>

        <tr>
          <td>Your address</td>
          <td>{{ claim.get_address_lines|join:", " }}</td>
        </tr>
      </tbody>
    </table>

    {% block after_claim_details %}
    {% endblock %}

</div>

{% endblock %}
