{% extends 'claims/create_claim_partial.html' %}

{% load widget_tweaks %}

{% block form_inner %}
{{ form.non_field_errors }}

{% for field in form %}

<div class="form-group">
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {{ field|add_class:"form-control" }}
  {{ field.errors }}
  <p class="help-block">{{ field.help_text }}</p>
</div>

{% endfor %}


{% endblock %}
