{% load widget_tweaks %}

<div class="form-group">
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>

  <div class="{% if field.errors %}has-error{% endif %}">
    {% block field_tag %}
      {{ field|add_class:"form-control" }}
    {% endblock %}
  </div>

  {% include "claims/partials/field_errors.html" with field=field %}
  {% include "claims/partials/help_block.html" with field=field %}

</div>
