{% load widget_tweaks %}
{% load staticfiles %}

<div class="form-group">
  {% if not hide_label %}
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {% endif %}

  <div class="hidden img-uploading" id="uploading_text">Uploading…</div>

  <a id="image_thumbnail" href="#" class="thumbnail">
    {% if field.value %}
      <img src="{{ field.value.thumbnail.300x300 }}">
    {% else %}
    <img id="image_placeholder" src="{% static "img/tickets_placeholder.jpeg" %}">
    {% endif %}
  </a>

  <div class="{% if field.errors %}has-error{% endif %}">
    {% block field_tag %}
      <input class="form-control" id="{{ field.id_for_label }}" name="scanned_ticket" type="file" accept="image/jpeg">
    {% endblock %}
  </div>

  {% include "claims/partials/field_errors.html" with field=field %}
  {% include "claims/partials/help_block.html" with field=field %}


  <script>
    var fileInput = document.querySelector('#{{ field.id_for_label }}');
    fileInput.style.display = 'none';

    fileInput.onchange = function(event) {
      var submitButton = document.querySelector('input[type="submit"]');
      submitButton.click();
    }

    document.querySelector('#image_thumbnail').onclick = function() {
      fileInput.click();
      document.querySelector('#uploading_text').classList.remove('hidden');
    };
  </script>

</div>
