<div class="form-group inline-radio-form-group">
  {% if not hide_label %}
  <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
  {% endif %}

  {% for radio in field %}

    {% if radio.choice_value or show_blank %}
    <label for="{{ radio.id_for_label }}" class="radio-inline">
      {{ radio.tag }}
      {{ radio.choice_label }}
    </label>
    {% endif %}

  {% endfor %}

  <div class="{% if field.errors %}has-error{% endif %}">
  {% include "claims/partials/field_errors.html" with field=field only %}
  </div>

  {% include "claims/partials/help_block.html" with field=field only %}
</div>
