{% extends "claims/partials/automatic_field.html" %}
{% load widget_tweaks %}

{% block field_tag %}
<div class="input-group">
  <span class="input-group-addon">£</span>
    {{ field|add_class:"form-control" }}
  </span>
</div>
{% endblock %}
