<div class="form-group">
  {% if not hide_label %}
  <label for="{{ field.id_for_label }}">
    {% if label %}
      {{ label }}
    {% else %}
      {{ field.label }}
    {% endif %}
  </label><br>
  {% endif %}

  {% for radio in field %}

    {% if radio.choice_value or show_blank %}
    <div class="radio">
      <label for="{{ radio.id_for_label }}">
        {{ radio.tag }}

        {% if override_labels %}
          {% with new_label=override_labels|dict_get:radio.choice_value %}

              {% if new_label %}

              {{ new_label }}

              {% else %}

              {{ radio.choice_label }}

              {% endif %}
          {% endwith %}
        {% else %}

          {{ radio.choice_label }}

        {% endif %}
      </label>
    </div>
    {% endif %}

  {% endfor %}

  {% include "claims/partials/field_errors.html" with field=field only %}

  {% include "claims/partials/help_block.html" with field=field only %}
</div>
