{% load widget_tweaks %}
{% load staticfiles %}

<div class="form-group">
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>

  <div class="{% if field.errors %}has-error{% endif %}">
    {% block field_tag %}
      {{ field|add_class:"form-control"|set_data:"input-type:station" }}
    {% endblock %}
  </div>

  <div class="dropdown" id="{{ field.id_for_label }}_dropdown">
    <ul class="dropdown-menu" id="{{ field.id_for_label }}_suggestions">
    </ul>
  </div>

  {% include "claims/partials/field_errors.html" with field=field %}
  {% include "claims/partials/help_block.html" with field=field %}

</div>
