{% extends 'refundmytrain/base.html' %}

{% block content %}

<div class="container journey-detail">

  <h1>{{ journey.start.location.name }} to {{ journey.end.location.name }}</h1>
  <h2>{{ journey.start_date|date }}</h2>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Arrival</th>
        <th></th>
        <th>Departure</th>
      </tr>
    <tbody>
    {% for loc in journey.calling_points.all %}
    <tr>
      <td>
        {% if not loc.actual_arrival_time %}

          <span class="timetable-time">{{ loc.timetable_arrival_time|time|default:'-' }}</span>

        {% elif loc.late_text %}

          <span class="timetable-time timetable-time-wrong">
            {{ loc.timetable_arrival_time|time|default:'-' }}
          </span>

          <span>
            {{ loc.actual_arrival_datetime|time|default:'-' }}
          </span><br />

          <span class="late-text">{{ loc.late_text }}</span>

        {% else %}

          <span class="actual-time">{{ loc.timetable_arrival_time|time|default:'-' }}</span>

        {% endif %}
      </td>

      <td>{{ loc.location.name }}</td>

      <td>
        <span class="timetable-time">{{ loc.timetable_departure_time|time|default:'-' }}</span>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
