{% extends 'refundmytrain/base.html' %}
{% load humanize %}

{% block content %}

<div class="container status-page">

  <h1>System Status</h1>

  {% if alerts %}

  {% for alert in alerts %}
  <div class="alert alert-danger" role="alert">{{ alert }}</div>
  {% endfor %}

  {% endif %}

  <h2>{{ num_journeys|intcomma }} <span class="small">scheduled journeys</span></h2>

  <p>between {{ earliest_journey.start_date|naturalday }} and {{ latest_journey.start_date|naturalday }}</p>

  <p>plus {{ num_non_passenger_journeys|intcomma }} non-passenger journeys</p>

  <h2>{{ num_calling_points|intcomma }} <span class="small">calling points</span></h2>
  <p>of which {{ num_calling_points_public_visible|intcomma }} are marked as publicly visible.</p>
  <p>and of which {{ num_calling_points_timetable_arrival|intcomma }} have a public timetabled arrival time.</p>


  <h2>{{ num_actual_arrivals|intcomma }} <span class="small">actual arrivals</span></h2>
  <p>
  most recently loaded <em>{{ latest_actual_arrival.created_at|naturaltime }}</em>, arrival was <em>{{ latest_actual_arrival.to_datetime|naturaltime }}</em>
  </p>

  <h2>{{ num_import_logs|intcomma }} <span class="small">files ingested</span></h2>
  <p>
  most recently <em>{{ latest_import_log.filename }}</em>, imported <em>{{ latest_import_log.import_datetime|naturaltime }}.</em>
  </p>

  <h2>{{ num_locations|intcomma }} <span class="small"> locations</span></h2>
  <p>of which {{ num_locations_with_three_alpha|intcomma }} have a "three-alpha" code</p>

  <h2>{{ num_journey_from_tos|intcomma }} <span class="small"> journey search index entries</span></h2>


</div>

{% endblock %}
